:root {
    --color: #103;
    --direction: center;
    --distance: 15;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    background: hsl(130, 20%, 10%);
    /*font-size: clamp(18px, 1.4vw, 22px);*/
    font-family: sans-serif;
    background: aliceblue;
    padding: 2rem;
    gap: 10px;
}

legend {
    text-align: var(--direction);
    padding: 0 calc(1px * var(--distance));
    font-size: 1.5rem;
    letter-spacing: .04em;
    color: var(--color);
}

fieldset {
    border: none;
    border-top: 1px solid var(--color);
    padding: 10px 0;
}

.taskStyle {
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

.taskView {
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

.taskTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

.actionHistory {
    margin: 5px;
}

button {
    outline: none;
    border: none;
    /*width: 100%;*/
    display: inline-block;
    padding: 5px;
    font-size: 0.9rem;
    letter-spacing: .1em;
    margin-top: 3%;
    transition: all .1s;
    color: #fff;
    background: none;
    color: var(--color);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6),
    -1px -1px 2px rgba(55, 55, 55, .7);
}

button:hover {
    color: #fff;
    background: #101;
}

button:active {
    transform: scale(.9);
}