<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>
<body>
<div class = 'box'>
    <form method="get">
        <fieldset>
            <legend>Студенты</legend>
        </fieldset>
        <div th:each="student : ${students}">
            <span th:text="${student.getFirstName() + ' ' + student.getLastName()}"></span>
            <a th:href="@{/manager/view/{id}(id=${student.getStudentId()})}">&nbsp;Просмотр</a>
        </div>
    </form>
</div>

<div class="box">
    <a href="/manager/create">
        <button>Создать учетную запись студента</button>
    </a>
    <a href="/manager/group">
        <button>Перейти к списку групп</button>
    </a>
    <a href="/logout">
        <button>Выйти</button>
    </a>
</div>
</body>
</html>