<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Представление</title>
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>
<body>
<div class='box'>
    <form method="get">
        <fieldset>
            <legend>Студент</legend>
        </fieldset>
        <div>
            <label>ID&nbsp;<span th:text="${students.getStudentId()}"></span></label>
        </div>
        <div>
            <label>Имя&nbsp;<span th:text="${students.getFirstName()}"></span></label>
        </div>
        <div>
            <label>Фамилия&nbsp;<span th:text="${students.getLastName()}"></span></label>
        </div>
        <div>
            <label>Группа&nbsp;<span th:text="${students.getGroup().getId()}"></span></label>
        </div>
        <div>
            <label>Телефон&nbsp;<span th:text="${students.getPhoneNumber()}"></span></label>
        </div>
        <div>
            <label>Почта&nbsp;<span th:text="${students.getEmail()}"></span></label>
        </div>
        <div>
            <a th:href="@{/manager/delete/{id}(id=${students.getStudentId()})}">Удалить данного студента</a>
        </div>
    </form>
        <div>
            <a href="/manager/"><button>К списку студентов</button></a>
        </div>
        <a href="/manager/group">
            <button>К списку групп</button>
        </a>
</div>
</body>
</html>