<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>
<body>
<div class = 'box'>
    <form method="get">
        <fieldset>
            <legend>Личная информация</legend>
        </fieldset>
        <div>
            <label>ID&nbsp;<span th:text="${students.getStudentId()}"></span></label>
        </div>
        <div>
            <label>Имя&nbsp;<span th:text="${students.getFirstName()}"></span></label>
        </div>
        <div>
            <label>Фамилия&nbsp;<span th:text="${students.getLastName()}"></span></label>
        </div>
        <div>
            <label>Группа&nbsp;<span th:text="${students.getGroup().getId()}"></span></label>
        </div>
        <div>
            <label>Телефон&nbsp;<span th:text="${students.getPhoneNumber()}"></span></label>
        </div>
        <div>
            <label>Почта&nbsp;<span th:text="${students.getEmail()}"></span></label>
        </div>
    </form>
</div>

<div class="box">
    <a href="/client/group">
        <button>Перейти к списку групп</button>
    </a>
    <a href="/client/task">
        <button>Перейти к списку заданий</button>
    </a>
    <a href="/logout">
        <button>Выйти</button>
    </a>
</div>
</body>
</html>