<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявка не найдена</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Заявка не найдена или недоступна</h1>
<div>
    <a href="/client/">
        <button>Вернуться к открытым заявкам</button>
    </a>
</div>

</body>
</html>