<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Проверка заданий</title>
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>
<body>
<div class="box">
<h2>Проверка заданий</h2>

<div th:if="${tasksPage.getTotal() > 0}">
    <div>
        <form method="get">
            Поиск сданной работы
            <input style="width: 7%" name="id" type="number"/>
            <button style="width: 60%;">Найти</button>
        </form>
    </div>
    <div>
        <form>
            <br>
            <p>Всего выполнено заданий <span th:text="${tasksPage.getTotal()}"/></p>
            <br>
            <p>Страница <span th:text="${tasksPage.getPage()+1}"/> из <span
                    th:text="${tasksPage.getTotalPages()}"/>
            </p>
            <p>
                Страница <input name="page" type="number" th:value="${tasksPage.getPage()+1}" min="1"
                                 th:attr="max=${tasksPage.getTotalPages()}"/>
            </p>
            <p>
                <a th:if="${tasksPage.getPage() > 0}"
                   th:href="@{/teacher/(page=${tasksPage.getPage()}, perPage=${tasksPage.getPerPage()}, searchBy=${sortByField.getField()}, direct=${isAscending})}">&larr;
                    Предыдущая страница</a>
                <a th:if="${tasksPage.getPage()+1 < tasksPage.getTotalPages()}"
                   th:href="@{/teacher/(page=${tasksPage.getPage()+2}, perPage=${tasksPage.getPerPage()}, searchBy=${sortByField.name()}, direct=${isAscending})}">Следующая
                    страница &rarr;</a>
            </p>
            <p>
                Количество записей на страницу
                <select name="perPage">
                    <option th:selected="${5 == tasksPage.getPerPage()}">5</option>
                    <option th:selected="${10 == tasksPage.getPerPage()}">10</option>
                    <option th:selected="${50 == tasksPage.getPerPage()}">50</option>
                </select>
            </p>
            <br>
            <button>Применить</button>
            <br>
        </form>
        <a href="/logout">
            <button>Выйти</button>
        </a>
        <br>
    </div>


</div>
<div th:unless="${tasksPage.getTotal() > 0}">
    Сданных работ нет
</div>
</div>
<!--<div class="box">
    <br>
    <table class="taskTable">
        <thead>
        <th>id</th>
        <th>Дата сдачи</th>
        <th>Студент</th>
        <th>Оценка</th>
        <th>Дата проверки</th>
        <th>Подробнее</th>
        </thead>
        <tr class="request" th:each="record : ${tasksPage.getElements()}">
            <td th:text="${record.getId()}"/>
            <td th:text="${#dates.format(record.getCreatedAt(), 'dd-MM-yyyy')}"/>
            <td th:text="${record.getStudentId()}"/>
            <td th:text="${record.getScore().getScoreValue()}"/>
            <td th:text="${#dates.format(record.getLastActionAt(), 'dd-MM-yyyy')}"/>
            <td>
                <a target="_blank" th:href="@{/teacher/view/{id}(id=${record.getId()})}">Просмотр</a>
            </td>
        </tr>
    </table>
</div>-->
<div class="box">
    <fieldset>
        <legend>Детальная информация</legend>
    </fieldset>
    <div th:each="record : ${tasksPage.getElements()}">
        <label>ID&nbsp;<span th:text="${record.getId()}"></span></label><br><br>
        <label>Дата сдачи&nbsp;<span th:text="${#dates.format(record.getCreatedAt(), 'dd-MM-yyyy')}"></span></label><br><br>
        <label>Студент&nbsp;<span th:text="${record.getStudentId()}"></span></label><br><br>
        <label>Оценка&nbsp;<span th:text="${record.getScore().getScoreValue()}"></span></label><br><br>
        <label>Дата проверки&nbsp;<span th:text="${#dates.format(record.getLastActionAt(), 'dd-MM-yyyy')}"></span></label><br><br>
        <label>Подробнее&nbsp;<a target="_blank" th:href="@{/teacher/view/{id}(id=${record.getId()})}">Просмотр</a></label><br><br>
    </div>
    <hr>
</div>
</body>
</html>
