<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link th:href="@{/css/create.css}" rel="stylesheet">
</head>
<body>
<div class="box">
<form method="post">
    <h1>Регистрация</h1>
    <div>
        Username: <input name="username"/>
    </div>
    <div>
        Password: <input name="password" type="password" minlength="4"/>
    </div>
    <div>
        Password repeat: <input name="password2" type="password" minlength="4"/>
    </div>
    <div>
        Role: <input name="role" />
    </div>
    <button>Register</button>

</form>
</div>
</body>
</html>