<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Выполнение задания</title>
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>
<body>
<div class="box">
    <h2>Отправить выполненное задание на проверку</h2>
    <div>
        <a href="/client/task">
            <button>К списку выполненных заданий</button>
        </a>
        <a href="/client/">
            <button>К личной страничке</button>
        </a>
    </div>
    <br>
    <form method="post">
        <p th:if="${errorsList!= null}">
        <p class="errorMessage" th:each="error: ${errorsList}"
           th:text="${error.getArguments()+' '+error.getDefaultMessage()}"></p>
        </p>
        <p>
            <label>Выберите задание</label>
            <br>
            <select name="lessons">
                <option th:each="lesson : ${lessons}" th:value="${lesson.id}"
                        th:text="${lesson.issue+ ' (' +lesson.title+ ')'}"></option>
            </select>
        </p>
        <br>
        <label>Введите ваш ответ</label>
        <br>
        <textarea name="taskContent" required></textarea>
        <p>
            <label>Пояснение</label>
            <br>
            <textarea name="comment"></textarea>
        <p>
            <button>Отправить</button>
        </p>
    </form>
</div>

<style>
    .errorMessage {
        color: red;
    }
</style>
</body>
</html>
