<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>
<body>
<div class = 'box' th:each="group : ${groups}">
    <form method="get">
        <fieldset>
            <legend>Группа</legend>
        </fieldset>
        <div>
            <label>Заголовок&nbsp;<span th:text="${group.getTitle()}"/></label>
        </div>
        <div>
            <label>ID&nbsp;<span th:text="${group.getId()}"/></label>
        </div>
        <a th:href="@{/manager/group/view/{id}(id=${group.getId()})}">
            <span>Перейти к группе</span>
        </a>
    </form>
</div>

<div class="box">
    <a href="/manager/group/create">
        <button>Создать учетную запись группы</button>
    </a>
    <div>
        <a href="/manager/"><button>К списку студентов</button></a>
    </div>
    <a href="/logout">
        <button>Выйти</button>
    </a>
</div>
</body>
</html>