<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Представление</title>
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>
<body>
<div class='box'>
    <form method="get">
        <fieldset>
            <legend>Группа</legend>
        </fieldset>
        <div>
            <label>Заголовок&nbsp;<span th:text="${groups.getTitle()}"/></label>
        </div>
        <div>
            <label>ID&nbsp;<span th:text="${groups.getId()}"/></label>
        </div>
        <label>Студенты группы</label>
        <div th:each="group : ${groups.getStudentList()}">
            <fieldset>
                <label>Ф.И.О&nbsp;<a th:href="@{/manager/view/{id}(id=${group.getStudentId()})}">
                    <span th:text="${group.getFirstName() + ' ' + group.getLastName()}"></span>
                </a></label>
            </fieldset>
        </div>
        <div>
            <a type="button" th:href="@{/manager/group/delete/{id}(id=${groups.getId()})}">Удалить группу</a>
        </div>
    </form>
    <div>
        <a href="/manager/group">
            <button>К списку групп</button>
        </a>
    </div>
</div>
</body>
</html>